/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

h1, h2, h3 {
  font-weight: normal; }

h2 {
  font-size: 2.197265625em;
  line-height: 1.3653333333;
  margin: 0.3413333333em 0 0.3413333333em 0.2275555556em; }

h3 {
  font-size: 1.5625em;
  line-height: 1.92;
  margin: 0.48em 0 0.48em 0.32em; }

dl, dd {
  margin: 0;
  padding: 0; }

.no-css-aid, .active-players dt, .matches dt, .player-league-stats .league dt, .player-individual-stats .league dt, .player-partner-stats .league dt, .player-league-stats .facet dt, .player-individual-stats .facet dt, .player-partner-stats .facet dt, .player-partner-stats .name, .player-partner-stats > li .name dt, .player-partner-stats > li .shortened-name dt, .player-partner-stats > li .avatar-frame dt, .all-innings .partnerships .name {
  display: none; }

.active-players, .matches, .main-nav ul, #container nav ul, .overall-player-stats, .player-league-stats > li ul, .player-individual-stats > li ul, .player-partner-stats > li ul, .player-league-stats, .player-individual-stats, .player-partner-stats {
  margin: 0;
  padding: 0; }
  .active-players li, .matches li, .main-nav ul li, #container nav ul li, .overall-player-stats li, .player-league-stats li, .player-individual-stats li, .player-partner-stats li {
    list-style-type: none; }

nav .active a {
  background-color: #FFA500;
  border-left: 1px solid #9c661f;
  border-right: 1px solid #9c661f;
  color: #222;
  font-weight: bold; }

.main-nav {
  text-align: center;
  background-color: #00688B; }
  .main-nav ul {
    overflow: auto;
    max-width: 36em;
    margin: 0 auto; }
  .main-nav li {
    float: left;
    width: 33%; }
  .main-nav a {
    font-size: 1.25em;
    line-height: 1.2;
    padding: 0.6em 0.16em 0.6em 0.16em;
    display: block;
    text-decoration: none;
    color: white; }

#container nav {
  text-align: center; }
  #container nav ul {
    background-color: #00688B; }
  #container nav li {
    display: inline; }
  #container nav a {
    font-size: 1.40625em;
    line-height: 1.0666666667;
    display: inline-block;
    padding: 0.5333333333em 1.4222222222em;
    color: white;
    text-decoration: none; }

h3 {
  clear: both; }

.profile {
  float: left;
  margin: 0 3.3333333333% 0.75em;
  border-radius: 5px;
  background-image: url("/img/profile.png");
  background-size: cover;
  height: 9em;
  width: 6.75em; }
  .profile.abhishek-verma {
    background-position: 0em; }
  .profile.amit-pothen {
    background-position: -6.75em; }
  .profile.anshuman-bhaduri {
    background-position: -13.5em; }
  .profile.bhavik-vora {
    background-position: -20.25em; }
  .profile.brendan-raj {
    background-position: -27em; }
  .profile.dasith-goonatilaka {
    background-position: -33.75em; }
  .profile.jared-mascarenhas {
    background-position: -40.5em; }
  .profile.kaushik-balan {
    background-position: -47.25em; }
  .profile.rohit-patel {
    background-position: -54em; }
  .profile.sai-karnan {
    background-position: -60.75em; }
  .profile.smit-shah {
    background-position: -67.5em; }
  .profile.uddhav-naik {
    background-position: -74.25em; }
  .profile.kanishk-vaddiraju {
    background-position: -81em; }
  .profile.daniel-brown {
    background-position: -87.75em; }
  .profile + h3 {
    padding-top: 0.96em; }
  @media screen and (min-width: 19em) {
    .profile {
      background-image: url("/img/profile.png");
      background-size: cover;
      height: 12em;
      width: 9em;
      margin: 0em 0.5em 0.75em 0.5em; }
      .profile.abhishek-verma {
        background-position: 0em; }
      .profile.amit-pothen {
        background-position: -9em; }
      .profile.anshuman-bhaduri {
        background-position: -18em; }
      .profile.bhavik-vora {
        background-position: -27em; }
      .profile.brendan-raj {
        background-position: -36em; }
      .profile.dasith-goonatilaka {
        background-position: -45em; }
      .profile.jared-mascarenhas {
        background-position: -54em; }
      .profile.kaushik-balan {
        background-position: -63em; }
      .profile.rohit-patel {
        background-position: -72em; }
      .profile.sai-karnan {
        background-position: -81em; }
      .profile.smit-shah {
        background-position: -90em; }
      .profile.uddhav-naik {
        background-position: -99em; }
      .profile.kanishk-vaddiraju {
        background-position: -108em; }
      .profile.daniel-brown {
        background-position: -117em; } }

.avatar {
  background-image: url("/img/profile.png");
  background-size: cover;
  height: 9em;
  width: 6.75em; }
  .avatar.abhishek-verma {
    background-position: 0em; }
  .avatar.amit-pothen {
    background-position: -6.75em; }
  .avatar.anshuman-bhaduri {
    background-position: -13.5em; }
  .avatar.bhavik-vora {
    background-position: -20.25em; }
  .avatar.brendan-raj {
    background-position: -27em; }
  .avatar.dasith-goonatilaka {
    background-position: -33.75em; }
  .avatar.jared-mascarenhas {
    background-position: -40.5em; }
  .avatar.kaushik-balan {
    background-position: -47.25em; }
  .avatar.rohit-patel {
    background-position: -54em; }
  .avatar.sai-karnan {
    background-position: -60.75em; }
  .avatar.smit-shah {
    background-position: -67.5em; }
  .avatar.uddhav-naik {
    background-position: -74.25em; }
  .avatar.kanishk-vaddiraju {
    background-position: -81em; }
  .avatar.daniel-brown {
    background-position: -87.75em; }

.overall-player-stats, .player-league-stats > li ul, .player-individual-stats > li ul, .player-partner-stats > li ul {
  text-align: center; }
  .overall-player-stats li, .player-league-stats > li ul li, .player-individual-stats > li ul li, .player-partner-stats > li ul li {
    position: relative; }
  .overall-player-stats dt, .player-league-stats > li ul dt, .player-individual-stats > li ul dt, .player-partner-stats > li ul dt {
    font-size: 0.8em;
    text-transform: lowercase;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    color: #555555; }
  .overall-player-stats .runs, .player-league-stats > li ul .runs, .player-individual-stats > li ul .runs, .player-partner-stats > li ul .runs {
    width: 7em; }
    .overall-player-stats .runs dd, .player-league-stats > li ul .runs dd, .player-individual-stats > li ul .runs dd, .player-partner-stats > li ul .runs dd {
      font-size: 3.0517578125em;
      line-height: 1.2;
      padding-bottom: 0.27456em; }
  .overall-player-stats .average, .player-league-stats > li ul .average, .player-individual-stats > li ul .average, .player-partner-stats > li ul .average, .overall-player-stats .innings, .player-league-stats > li ul .innings, .player-individual-stats > li ul .innings, .player-partner-stats > li ul .innings, .overall-player-stats .strike-rate, .player-league-stats > li ul .strike-rate, .player-individual-stats > li ul .strike-rate, .player-partner-stats > li ul .strike-rate, .overall-player-stats .wickets, .player-league-stats > li ul .wickets, .player-individual-stats > li ul .wickets, .player-partner-stats > li ul .wickets, .overall-player-stats .bowling-average, .player-league-stats > li ul .bowling-average, .player-individual-stats > li ul .bowling-average, .player-partner-stats > li ul .bowling-average, .overall-player-stats .outs, .player-league-stats > li ul .outs, .player-individual-stats > li ul .outs, .player-partner-stats > li ul .outs, .overall-player-stats .sevens, .player-league-stats > li ul .sevens, .player-individual-stats > li ul .sevens, .player-partner-stats > li ul .sevens, .overall-player-stats .wides, .player-league-stats > li ul .wides, .player-individual-stats > li ul .wides, .player-partner-stats > li ul .wides, .overall-player-stats .no-balls, .player-league-stats > li ul .no-balls, .player-individual-stats > li ul .no-balls, .player-partner-stats > li ul .no-balls, .overall-player-stats .bowling-economy, .player-league-stats > li ul .bowling-economy, .player-individual-stats > li ul .bowling-economy, .player-partner-stats > li ul .bowling-economy {
    width: 3.5em;
    float: left; }
    .overall-player-stats .average dd, .player-league-stats > li ul .average dd, .player-individual-stats > li ul .average dd, .player-partner-stats > li ul .average dd, .overall-player-stats .innings dd, .player-league-stats > li ul .innings dd, .player-individual-stats > li ul .innings dd, .player-partner-stats > li ul .innings dd, .overall-player-stats .strike-rate dd, .player-league-stats > li ul .strike-rate dd, .player-individual-stats > li ul .strike-rate dd, .player-partner-stats > li ul .strike-rate dd, .overall-player-stats .wickets dd, .player-league-stats > li ul .wickets dd, .player-individual-stats > li ul .wickets dd, .player-partner-stats > li ul .wickets dd, .overall-player-stats .bowling-average dd, .player-league-stats > li ul .bowling-average dd, .player-individual-stats > li ul .bowling-average dd, .player-partner-stats > li ul .bowling-average dd, .overall-player-stats .outs dd, .player-league-stats > li ul .outs dd, .player-individual-stats > li ul .outs dd, .player-partner-stats > li ul .outs dd, .overall-player-stats .sevens dd, .player-league-stats > li ul .sevens dd, .player-individual-stats > li ul .sevens dd, .player-partner-stats > li ul .sevens dd, .overall-player-stats .wides dd, .player-league-stats > li ul .wides dd, .player-individual-stats > li ul .wides dd, .player-partner-stats > li ul .wides dd, .overall-player-stats .no-balls dd, .player-league-stats > li ul .no-balls dd, .player-individual-stats > li ul .no-balls dd, .player-partner-stats > li ul .no-balls dd, .overall-player-stats .bowling-economy dd, .player-league-stats > li ul .bowling-economy dd, .player-individual-stats > li ul .bowling-economy dd, .player-partner-stats > li ul .bowling-economy dd {
      font-size: 1.40625em;
      line-height: 1.0666666667;
      padding: 0.2666666667em 0 0.8em 0; }
  .overall-player-stats .skin, .player-league-stats > li ul .skin, .player-individual-stats > li ul .skin, .player-partner-stats > li ul .skin {
    width: 7em;
    clear: both; }
    .overall-player-stats .skin dd, .player-league-stats > li ul .skin dd, .player-individual-stats > li ul .skin dd, .player-partner-stats > li ul .skin dd {
      font-size: 1.40625em;
      line-height: 1.0666666667;
      padding: 0.2666666667em 0 0.8em 0; }

.overall-player-stats {
  float: left;
  text-align: center;
  width: 7em;
  margin: 0 0 1.5em 1.6666666667%;
  float: left; }
  @media screen and (min-width: 19em) {
    .overall-player-stats {
      margin: 0em 1.5em 1.5em 0.5em; } }

.player-league-stats > li ul, .player-individual-stats > li ul, .player-partner-stats > li ul {
  margin: 0;
  padding: 0; }

.player-league-stats .league dd, .player-individual-stats .league dd, .player-partner-stats .league dd, .player-league-stats .facet dd, .player-individual-stats .facet dd, .player-partner-stats .facet dd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.player-league-stats .league dd, .player-individual-stats .league dd, .player-partner-stats .league dd {
  font-size: 0.9em;
  line-height: 1.5; }

.player-league-stats .facet dd, .player-individual-stats .facet dd, .player-partner-stats .facet dd {
  font-size: 0.9em;
  line-height: 1.6666666667; }

.player-league-stats > li, .player-individual-stats > li {
  float: left;
  text-align: center;
  width: 7em;
  margin: 0 0 1.5em 1.6666666667%; }
  @media screen and (min-width: 19em) {
    .player-league-stats > li, .player-individual-stats > li {
      margin: 0em 1.5em 1.5em 0.5em; } }

.player-league-stats + h3, .player-individual-stats + h3 {
  padding-top: 0.96em; }

.player-partner-stats > li, .active-players li {
  position: relative;
  border-top: 1px solid #C4C4C4; }
  .player-partner-stats > li a, .active-players li a {
    min-height: 9em;
    display: block;
    text-decoration: none; }
    .player-partner-stats > li a:link, .active-players li a:link, .player-partner-stats > li a:visited, .active-players li a:visited, .player-partner-stats > li a:hover, .active-players li a:hover, .player-partner-stats > li a:active, .active-players li a:active {
      color: #222; }

.player-partner-stats > li {
  /*@media screen and (min-width: 15em * 2) {
        float: left;
        border-bottom: 1px solid $sep-color;
        border-top: none;
        border-right: 1px solid $sep-color;
        border-radius: 0 0 5px 0;
        padding-right: 0.5em;
    }*/ }
  .player-partner-stats > li .avatar-frame {
    position: absolute;
    top: 0.75em;
    left: 0; }
  .player-partner-stats > li ul {
    margin-left: 7.25em; }
  .player-partner-stats > li .shortened-name {
    position: absolute;
    top: 9.75em;
    left: 0;
    width: 6.75em; }
  .player-partner-stats > li a {
    padding: 0.75em 0; }
    .player-partner-stats > li a .avatar {
      border-radius: 0 5px 5px 0; }

.player-partner-stats + h3 {
  padding-top: 0.96em; }

.active-players li .avatar {
  position: absolute;
  top: 0;
  left: 0; }

.active-players li a > dl {
  margin-left: 7.25em; }

.active-players li .name {
  font-size: 1.25em;
  line-height: 1.2;
  padding: 0.6em 0 0.6em 0;
  width: 5em; }
  @media screen and (min-width: 19em) {
    .active-players li .name {
      width: auto; } }

.league-id, .league-grade {
  color: #555555;
  font-size: 0.9em;
  line-height: 1.6666666667;
  margin: 0em 0 0em 0.5555555556em;
  position: relative;
  top: -0.5555555556em; }

.matches .upcoming dl {
  overflow: auto; }

.matches .upcoming.match .datetime {
  margin-bottom: 0; }

.matches.fixtures .contest {
  min-width: 8em; }

.matches .match {
  padding: 1.5em 0 1.5em 0;
  border-bottom: 1px solid #C4C4C4; }
  .matches .match .contest {
    font-size: 1.25em;
    line-height: 1.2;
    margin: 0em 0 0em 0.4em;
    float: left; }
  .matches .match .league {
    float: left;
    font-size: 0.9em;
    line-height: 1.2777777778;
    margin-top: 0.2222222222em;
    margin-left: 0.5555555556em;
    padding: 0 0.5555555556em; }
  .central-autumn .league {
    border: 1px solid #C77826;
    background-color: #FFCC99;
    color: #8B4500;
    border-radius: 5px; }
  .super-league .league {
    border: 1px solid #4682B4;
    background-color: #82CFFD;
    color: #0D4F8B;
    border-radius: 5px; }
  .central-winter .league {
    border: 1px solid #7F9A65;
    background-color: #B4EEB4;
    color: #3B5E2B;
    border-radius: 5px; }
  .matches .match .datetime {
    color: #555555;
    margin: 0em 0 0.75em 0.5em;
    float: left;
    clear: left;
    width: 10em;
    position: relative; }
    .matches .match .datetime .time {
      display: inline-block;
      position: absolute;
      left: 4em; }
  .matches .match .venue {
    float: left;
    font-size: 0.9em;
    line-height: 1.6666666667;
    color: #555555;
    margin-left: 0.5555555556em;
    min-width: 11.1111111111em; }

.matches dd {
  margin: 0; }

.matches .partnerships, .matches .members {
  padding: 0;
  margin: 0; }

.all-innings {
  overflow: auto;
  clear: both;
  margin: 0 0 0.75em;
  padding: 0; }
  .all-innings > li {
    float: left;
    width: 50%; }
  .all-innings .score {
    border: 1px solid #ffffff; }
  .all-innings .total.score {
    clear: both;
    font-size: 3.0517578125em;
    line-height: 1.47456;
    bottom-margin: 0.34152em;
    padding: 0 0.15em; }
  .all-innings .team-name {
    font-size: 0.9em;
    line-height: 1.6666666667;
    padding: 0 0.5086263021em;
    white-space: nowrap; }
  .all-innings .innings-1 .members > li {
    text-align: right; }
  .all-innings .innings-1 .score, .all-innings .innings-1 .team-name {
    float: right;
    text-align: right; }
  .all-innings .innings-2 .score {
    float: left;
    text-align: right; }
  .all-innings .partnerships {
    clear: both; }
    .all-innings .partnerships > li {
      overflow: auto; }
    .all-innings .partnerships .score {
      font-size: 1.7578125em;
      line-height: 1.7066666667;
      min-width: 1.1em;
      padding: 0 0.2604166667em;
      margin-top: 0.2133333333em; }
    .all-innings .partnerships .members {
      font-size: 0.9em;
      line-height: 1.2;
      padding-top: 0.8833333333em;
      white-space: nowrap;
      overflow: hidden; }
  .all-innings .innings-1 .partnerships .score {
    margin-left: 0.1066666667em; }
  .all-innings .innings-2 .partnerships .score {
    margin-right: 0.1066666667em; }

.won .us .total.score, .us .skin .score {
  border-radius: 5px;
  background-color: #FFA500;
  border: 1px solid #9c661f; }

.lost .opponent .total.score, .opponent .skin .score {
  border-radius: 5px;
  background-color: #c1cdcd;
  border: 1px solid #838B8B; }

.tied .total.score {
  border-radius: 5px;
  background-color: #E7C6A5;
  border: 1px solid #9c661f; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "museo-sans", Verdana, sans-serif; }

/* ==========================================================================
   v1 styles
   ========================================================================== */
header {
  background-color: #0d0d0d;
  color: #fef8ce; }

#logo {
  max-width: 10em;
  display: block;
  margin: 0 auto; }

#sub-logo {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.6666666667;
  margin: 0; }

#container {
  max-width: 36em;
  margin: 0 auto; }

@media screen and (min-width: 25em) {
  header {
    padding-left: 10%;
    padding-right: 10%; } }
