.league-id, .league-grade {
    $fs: ms(-1);
    @include secondary-text;
    @include adjust-font-size($fs);
    //margin: 0 0 0 0.5em*1em / ms(-1);
    @include margin(0, 0, 0, 0.5em, $fs);
    position: relative;
    //top: -0.5em*1em / ms(-1);
    top: rhythm(-1/3, $fs);
}

.league-grade {
    margin-bottom: rhythm(1, ms(-1));
}

.matches {
    @extend %nice-display-list;
    .upcoming {
        dl {
            @include contains-floats;
        }
        &.match .datetime {
            margin-bottom: 0;
        }
    }
    .match {
        padding-bottom: rhythm(1);
        //border-bottom: 1px solid #B6AFA9;
        border-bottom: 1px solid $sep-color;
        .contest {
            $fs: ms(2);
            @include adjust-font-size($fs);
            @include margin(1, 0, 0, 0.5em, $fs);
        }
        .datetime, {
            $fs: 1em;
            //@include adjust-font-size($datetime-fs);
            @include secondary-text;
            @include margin(0, 0, 1/2, 0.5em, $fs);
            float: left;
            width: 8em;
            position: relative;
            .time {
                display: inline-block;
                position: absolute;
                left: 4em;
            }
        }
        .court, .venue {
            float: left;
            $fs: ms(-1);
            @include adjust-font-size($fs);
            @include secondary-text;
            margin-left: root-em(0.5em, $fs);
        }
    }
    dd {
        margin: 0;
    }
    .partnerships, .members {
        padding: 0;
        margin: 0;
    }
    .venue {
        display: none;
    }
    &.super-league .venue {
        display: inherit;
    }
}


.all-innings {
    $total-score-fs: ms(10);
    $total-score-padding: 0.15em;
    $score-fs: ms(5);
    $members-fs: ms(-1);
    $score-sep: $base-lh*1em*1em/$score-fs / 4;
    overflow: auto;
    clear: both;
    margin: 0 0 $base-lh*1em/2;
    padding: 0;
    & > li {
        float: left;
        width: 50%;
    }
    .score {
        border: 1px solid $bg-color;
    }
    .total.score {
        clear: both;
        @include adjust-font-size($total-score-fs);
        bottom-margin: $base-lh*1em/$total-score-fs*1em - $total-score-padding;
        padding: 0 $total-score-padding;
    }
    .team-name {
        $team-name-fs: ms(-1);
        @include adjust-font-size($team-name-fs);
        padding: 0 ($total-score-padding*$total-score-fs/1em)/$team-name-fs*1em;
        white-space: nowrap;
    }
    .innings-1 {
        .members > li {
            text-align: right;
        }
        .score, .team-name {
            float: right;
            text-align: right;
        }
    }
    .innings-2 .score {
        float: left;
        text-align: right;
    }
    .partnerships {
        @include shortened-long-names;
        clear: both;
        & > li {
            overflow: auto;
        }
        .score {
            @include adjust-font-size($score-fs);
            max-width: 1.2em;
            min-width: 1.1em;
            padding: 0 ($total-score-padding*$total-score-fs/1em)/$score-fs*1em;
            margin-top: $score-sep;
        }
        .members {
            $name_lh: 1.2;
            $space: (line-height($score-fs)*$score-fs - $name_lh*2*$members-fs)*1em/$members-fs;
            font-size: $members-fs;
            line-height: $name_lh;
            padding-top: $space * 1/2 + $score-sep * $score-fs / $members-fs;
            white-space: nowrap;
        }
    }
    // Not working for some reason
    .innings-1 .partnerships .score {
        margin-left: $score-sep / 2;
    }
    .innings-2 .partnerships .score {
        margin-right: $score-sep / 2;
    }
}

// @at-root
.won .us .total.score, .us .skin .score {
    border-radius: 5px;
    background-color: #FFA500;
    border: 1px solid #9c661f;
}

.lost .opponent .total.score, .opponent .skin .score {
    border-radius: 5px;
    background-color: #c1cdcd;
    border: 1px solid #838B8B;
}

.tied .total.score {
    border-radius: 5px;
    background-color: #E7C6A5;
    border: 1px solid #9c661f;
}
