@mixin league-pill($text-color, $bg-color, $border-color) {
    border: 1px solid $border-color;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 5px;
}

.league-id, .league-grade {
    $fs: ms(-1);
    @include secondary-text;
    @include adjust-font-size($fs);
    //margin: 0 0 0 0.5em*1em / ms(-1);
    @include margin(0, 0, 0, 0.5em, $fs);
    position: relative;
    //top: -0.5em*1em / ms(-1);
    top: rhythm(-1/3, $fs);
}

.matches {
    $contest-fs: ms(2);
    @extend %nice-display-list;
    .upcoming {
        dl {
            @include contains-floats;
        }
        &.match .datetime {
            margin-bottom: 0;
        }
    }
    &.fixtures .contest {
        min-width: root-em(10em, $contest-fs);
    }
    .match {
        @include padding(1, 0);
        //border-bottom: 1px solid #B6AFA9;
        border-bottom: 1px solid $sep-color;
        .contest {
            $fs: $contest-fs;
            @include adjust-font-size($fs);
            @include margin(0, 0, 0, 0.5em, $fs);
            float: left;
        }
        .league {
            $fs: ms(-1);
            $desired_gap: ($base-lh*16 - $contest-fs/1em*16)/2;
            $current_size: $fs/1em*16;
            $lh: ($current_size + 2*$desired_gap)/$current_size;
            float: left;
            font-size: $fs;
            line-height: $lh;
            margin-top: ($base-lh - $lh) * 1em;
            margin-left: root-em(0.5em, $fs);
            padding: 0 root-em(0.5em, $fs);
            //text-transform: lowercase;

        }
        @at-root .central-autumn .league {
            @include league-pill(#8B4500, #FFCC99, #C77826);
        }
        @at-root .super-league .league {
            @include league-pill(#0D4F8B, #82CFFD, #4682B4);
        }
        @at-root .central-winter .league {
            @include league-pill(#3B5E2B, #B4EEB4, #7F9A65);
        }
        .datetime, {
            //@include adjust-font-size($datetime-fs);
            @include secondary-text;
            @include margin(0, 0, 1/2, 0.5em);
            float: left;
            clear: left;
            width: 10em;
            position: relative;
            .time {
                display: inline-block;
                position: absolute;
                left: 4em;
            }
        }
        .venue {
            float: left;
            $fs: ms(-1);
            @include adjust-font-size($fs);
            @include secondary-text;
            margin-left: root-em(0.5em, $fs);
            min-width: root-em(10em, $fs);
        }
    }
    dd {
        margin: 0;
    }
    .partnerships, .members {
        padding: 0;
        margin: 0;
    }
}


.all-innings {
    $total-score-fs: ms(10);
    $total-score-padding: 0.15em;
    $score-fs: ms(5);
    $members-fs: ms(-1);
    $score-sep: $base-lh*1em*1em/$score-fs / 4;
    overflow: auto;
    clear: both;
    margin: 0 0 $base-lh*1em/2;
    padding: 0;
    & > li {
        float: left;
        width: 50%;
    }
    .score {
        border: 1px solid $bg-color;
    }
    .total.score {
        clear: both;
        @include adjust-font-size($total-score-fs);
        bottom-margin: $base-lh*1em/$total-score-fs*1em - $total-score-padding;
        padding: 0 $total-score-padding;
    }
    .team-name {
        $team-name-fs: ms(-1);
        @include adjust-font-size($team-name-fs);
        padding: 0 ($total-score-padding*$total-score-fs/1em)/$team-name-fs*1em;
        white-space: nowrap;
    }
    .innings-1 {
        .members > li {
            text-align: right;
        }
        .score, .team-name {
            float: right;
            text-align: right;
        }
    }
    .innings-2 .score {
        float: left;
        text-align: right;
    }
    .partnerships {
        @include shortened-long-names;
        clear: both;
        & > li {
            overflow: auto;
        }
        .score {
            @include adjust-font-size($score-fs);
            min-width: 1.1em;
            padding: 0 ($total-score-padding*$total-score-fs/1em)/$score-fs*1em;
            margin-top: $score-sep;
        }
        .members {
            $name_lh: 1.2;
            $space: (line-height($score-fs)*$score-fs - $name_lh*2*$members-fs)*1em/$members-fs;
            font-size: $members-fs;
            line-height: $name_lh;
            padding-top: $space * 1/2 + $score-sep * $score-fs / $members-fs;
            // Cut off long names on small screens.
            white-space: nowrap;
            overflow: hidden;
        }
    }
    // Not working for some reason
    .innings-1 .partnerships .score {
        margin-left: $score-sep / 2;
    }
    .innings-2 .partnerships .score {
        margin-right: $score-sep / 2;
    }
}

// @at-root
.won .us .total.score, .us .skin .score {
    border-radius: 5px;
    background-color: #FFA500;
    border: 1px solid #9c661f;
}

.lost .opponent .total.score, .opponent .skin .score {
    border-radius: 5px;
    background-color: #c1cdcd;
    border: 1px solid #838B8B;
}

.tied .total.score {
    border-radius: 5px;
    background-color: #E7C6A5;
    border: 1px solid #9c661f;
}
