h3 {
    clear: both;
}

$sep-color: #C4C4C4;
$avatar-height: rhythm(6);
$profile-img-ratio: 0.75;
$avatar-width: $avatar-height * $profile-img-ratio;

$profile-sprites: (
    ("abhishek-verma", 1),
    ("amit-pothen", 2),
    ("anshuman-bhaduri", 3),
    ("bhavik-vora", 4),
    ("brendan-raj", 5),
    ("dasith-goonatilaka", 6),
    ("jared-mascarenhas", 7),
    ("kaushik-balan", 8),
    ("rohit-patel", 9),
    ("sai-karnan", 10),
    ("smit-shah", 11),
    ("uddhav-naik", 12)
);

@mixin profile-pic($height) {
    //img {
    $width: $height * $profile-img-ratio;
    background-image: url('/img/profile.png');
    background-size: cover;
    height: $height;
    width: $width;
    @each $player, $pos in $profile-sprites {
        @at-root &.#{$player} {
            background-position: $width * ($pos - 1)*-1;
        }
    }
}

@mixin trim-long-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include adjust-font-size(ms(-1));
}

.profile {
    float: left;
    margin: 0 10/3*1% rhythm(1/2);
    border-radius: 5px;
    @include profile-pic($avatar-height);
    //@include profile-pic($avatar-height);
    & + h3 {
        padding-top: rhythm(1, ms(4));
    }
    @media screen and (min-width: $narrow-breakpoint) {
        @include profile-pic(12em);
        @include margin(0, 0.5em, 1/2);
    }
}
.avatar {
    @include profile-pic($avatar-height);
}

@mixin cards {
    float: left;
    text-align: center;
}

@mixin non-click-cards {
    @include cards;
    width: 7em;
    margin: 0 0 rhythm(1) 5/3*1%;
    @media screen and (min-width: $narrow-breakpoint) {
        @include margin(0, 1.5em, 1, 0.5em);
    }
}

%stats {
    @extend %display-list;
    text-align: center;
    li {
        position: relative;
    }
    dt {
        font-size: ms(-2);
        text-transform: lowercase;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        @include secondary-text;
    }
    .runs {
        width: 7em;
        dd {
            $fs: ms(10);
            $lh: 1.2;
            font-size: $fs;
            line-height: $lh;
            padding-bottom: (line-height($fs) - $lh)*1em;
        }
    }
    .average, .innings {
        width: 3.5em;
        float: left;
        dd {
            $fs: ms(3);
            @include adjust-font-size($fs);
            @include padding(1/4, 0, 3/4, $fs: $fs);
        }
    }
    .skin {
        width: 7em;
        clear: both;
        dd {
            $fs: ms(3);
            @include adjust-font-size($fs);
            @include padding(1/4, 0, 3/4, $fs: $fs);
        }
    }
}


.overall-player-stats {
    @extend %stats;
    @include non-click-cards;
    float: left;
}

%stats-list {
    @extend %display-list;
    & > li ul {
        @include reset-spacing;
        @extend %stats;
    }
    .league {
        dd {
            @include trim-long-text;
        }
        dt {
            @extend %hidden;
        }
    }
}

.player-league-stats {
    @extend %stats-list;
    & > li {
        @include non-click-cards;
    }
    & + h3 {
        padding-top: rhythm(1, ms(4));
    }
}

@mixin space-for-avatar {
    margin-left: $avatar-width + 0.5em;
}
@mixin top-left-corner($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}
@mixin avatar-on-left($sel, $top: 0, $left: 0) {
    #{$sel} {
        @include top-left-corner($top, $left);
    }
}

%id-card {
    position: relative;
    border-top: 1px solid $sep-color;
    a {
        min-height: $avatar-height;
        display: block;
        text-decoration: none;
        &:link, &:visited, &:hover, &:active {
            color: $body-text-color;
        }
    }
}

@mixin basic-id-card {
    $fs: ms(2);
    @extend %id-card;
    @include avatar-on-left('.avatar');
    a {
        & > dl {
            @include space-for-avatar;
        }
    }
    .name {
        @include adjust-font-size($fs);
        @include padding(1/2, 0, 1/2, $fs: $fs);
        width: root-em(6.25em, $fs);
        @media screen and (min-width: $narrow-breakpoint) {
            width: auto;
        }
    }
}

@mixin detailed-id-card {
    $row-sep: rhythm(1/2);
    @extend %id-card;
    @include avatar-on-left('.avatar-frame', $row-sep);
    ul {
        @include space-for-avatar;
    }
    .shortened-name {
        @include top-left-corner($avatar-height + $row-sep);
        width: $avatar-width;
    }
    .name, .shortened-name, .avatar-frame {
        dt {
            @extend %hidden;
        }
    }
    a {
        padding: $row-sep 0;
        .avatar {
            border-radius: 0 5px 5px 0;
        }
    }
    // calculated width of each card: 6.75 + 0.5 + 7em
    /*@media screen and (min-width: 15em * 2) {
        float: left;
        border-bottom: 1px solid $sep-color;
        border-top: none;
        border-right: 1px solid $sep-color;
        border-radius: 0 0 5px 0;
        padding-right: 0.5em;
    }*/
}

.player-partner-stats {
    @extend %stats-list;
    @include shortened-long-names;
    & > li {
        @include detailed-id-card;
    }
    & + h3 {
        padding-top: rhythm(1, ms(4));
    }
}
