@import 'modular-scale';

// Modular scale
$ms-base: 1em, 1.125em;
$ms-ratio: 1.25;

$base-fs: ms(0);

@import '_h5bp';
@import '_typography';
@import '_layout';
@import '_styling';
@import '_nav';
@import '_player-stats';
@import '_stats_landing';
@import '_indoor-league';


$wide-breakpoint: 25em;

html {
    color: $body-text-color;
    font-size: $base-fs;
    line-height: $base-lh;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: "museo-sans", Verdana, sans-serif;
}

h1, h2, h3, h4 {
    //font-weight: normal;
}

/* ==========================================================================
   v1 styles
   ========================================================================== */

header {
    //padding: 0 0.8em 2em;
    background-color: #0d0d0d;
    color: #fef8ce;
}

#logo {
    max-width: 10em;
    display: block;
    margin: 0 auto;
}

#sub-logo {
    text-align: center;
    @include adjust-font-size(ms(-1));
    margin: 0;
}

#container {
    max-width: 0.5em + 35em + 0.5em;
    margin: 0 auto;
}

@media screen and (min-width: $wide-breakpoint) {
    header {
        padding-left: 10%;
        padding-right: 10%;
    }
}









