@import 'modular-scale';

// Modular scale
$ms-base: 1em, 1.125em;
$ms-ratio: 1.25;

$base-fs: ms(0);

@import '_h5bp';
@import '_layout';
@import '_typography';
@import '_indoor-league';


$wide-breakpoint: 25em;

html {
    color: $body-text-color;
    font-size: $base-fs;
    line-height: $base-lh;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: "museo-sans", Verdana, sans-serif;
}

h1, h2, h3, h4 {
    //font-weight: normal;
}

/* ==========================================================================
   v1 styles
   ========================================================================== */

header {
    padding: 0 0.8em 2em;
    background-color: #0d0d0d;
    color: #fef8ce;
}

#logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#sub-logo {
    text-align: center;
    @include adjust-font-size(ms(2));
    font-family: "Averia Serif Libre", cursive;
    margin: 0;
}

#container {
    max-width: 20em;
    margin: 0 auto;
}

.details {
    clear: right;
    padding-left: 0.8em;
}

.details ul {
    padding: 0;
}

.details li {
    list-style-type: none;
}

.joined, .title {
    color: #666;
    // Hide titles and joined year till these are updated and correct.
    display: none;
}


@media screen and (min-width: $wide-breakpoint) {
    header {
        padding-left: 10%;
        padding-right: 10%;
    }
}









