{% extends "base.html" %}

{% block content %}

<h2>{{league.short_name}}</h2>
<p class="league-id">{{league.year}} {{league.name}}</p>
<p class="league-grade">{{league.grade}}</p>

{% set navigation_bar = [
  (url_for('fixtures', slug=league.slug), 'fixtures', 'Fixtures'),
  (url_for('results', slug=league.slug), 'results', 'Results'),
] -%}
{% set active_page = active_page|default('fixtures') -%}

<nav>
  <ul>
    {% for href, id, caption in navigation_bar %}
    <li
      {% if id == active_page %}
      class="active"{% endif %}><a 
      href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% block league_details %}
{% endblock league_details %}

{% endblock content %}
